<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script th:src="@{/js/login.js}"></script>
</head>
<body>
  <div class="container" th:class="container">
    <div class="login" th:class="login">
      <h2 th:text="#{login}">Login</h2>
      <div class="box" th:class="box">
        <form th:action="@{/login}" method="post">
          <div class="form-group" th:class="form-group">
            <label for="username" th:text="#{username}">Username(Please use email)</label>
            <input type="email" id="username" name="username" th:name="username">
          </div>
          <div class="form-group" th:class="form-group">
            <label for="password" th:text="#{password}">Password</label>
            <input type="password" id="password" name="password" th:name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$">
          </div>
          <button type="submit" id="btn" th:text="#{login}">Login</button>
          <a href="./register.html" id="register" th:href="@{/register}" th:text="#{register}">Register</a>
        </form>
      </div>

      <div id="alert" class="alert" th:id="alert"></div>
    </div>
  </div>
</body>
</html>
