<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add service</title>
</head>

<body>
<h1>Add service</h1>
<form th:action="@{/admin/service/insert}" th:object="${service}" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name"/><br/>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price"/><br/>

  <label for="duration">Name:</label>
  <input type="number" id="duration" name="duration"/><br/>

  <label for="briefIntroduction">Name:</label>
  <input type="text" id="briefIntroduction" name="briefIntroduction"/><br/>

  <label for="detailIntroduction">Name:</label>
  <input type="text" id="detailIntroduction" name="detailIntroduction"/><br/>

  <input type="submit" value="Add Service"/>
</form>
</body>
</html>