<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/customer/base.css}">
</head>

<body>

  <div class="sidebar">
    <div class="logo">
      Furry Fresh
    </div>

    <div class="nav">
      <div class="nav-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/home.png}" alt="Home" class="nav-icon">
        <a href="#" class="nav-text">Home</a>
      </div>

      <div class="nav-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/categories.png}" alt="Categories" class="nav-icon">
        <a href="#" class="nav-text">Categories</a>
      </div>

      <div class="nav-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/bookService.png}" alt="Book Service" class="nav-icon">
        <a th:href="@{/customer/dashboard/book-service}" class="nav-text" onclick="">Book Service</a>
      </div>

      <div class="nav-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/trackOrders.png}" alt="Track Orders" class="nav-icon">
        <a href="#" class="nav-text">Track Orders</a>
      </div>

      <div class="nav-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/managePets.png}" alt="Manage Pets" class="nav-icon">
        <a href="#" class="nav-text">Manage Pets</a>
      </div>
    </div>

    <div class="side-ad">
      <a href="#"><img th:src="@{/img/customer/dashboard/ad/ad.jpg}"></a>
    </div>

    <div class="other">
      <div class="other-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/account.png}" alt="Account" class="other-icon">
        <a href="#" class="other-text">Account</a>
      </div>

      <div class="other-item">
        <img th:src="@{/img/customer/dashboard/icon/sidebar/setting.png}" alt="Setting" class="other-icon">
        <a href="#" class="other-text">Setting</a>
      </div>
    </div>
  </div>

  <div class="header-container">
    <div class="header-left">
      <!--Add Action to Search-->
      <form th:action="@{#}" method="post" class="searchbar-container">
        <select name="searchType" id="searchType" class="searchType">
          <option value="All">All</option>
          <option value="Service">Service</option>
          <option value="Groomer">Groomer</option>
        </select>

        <div class="searchInput">
          <label th:for="search-input">
            <input class="searchInput-2" type="text" name="searchInput" id="search-input">
          </label>
          <img th:src="@{/img/customer/dashboard/icon/searchbar/search.png}" alt="?" class="search-icon">
        </div>


        <button type="submit" class="searchSubmit">Search</button>
      </form>
    </div>

    <div class="header-right">
      <div class="userIcon">
        <a href="#"><img th:src="@{${userPhoto}}" alt="User Photo"></a>
      </div>
    </div>
  </div>


  <div class="main-container" id="main-content">
    <h2 class="title">Just Use Inner HTML Here</h2>

  </div>
</body>

</html>