<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/customer/base.css}">
</head>

<body>

<div class="sidebar">
    <div class="logo">
        Furry Fresh
    </div>

    <div class="nav">
        <div class="nav-item">
            <img alt="Home" class="nav-icon" th:src="@{/img/customer/dashboard/icon/sidebar/home.png}" src="">
            <a class="nav-text" href="#">Home</a>
        </div>

        <div class="nav-item">
            <img alt="Categories" class="nav-icon" th:src="@{/img/customer/dashboard/icon/sidebar/categories.png}"
                 src="">
            <a class="nav-text" href="#">Categories</a>
        </div>

        <div class="nav-item">
            <img alt="Book Service" class="nav-icon" th:src="@{/img/customer/dashboard/icon/sidebar/bookService.png}"
                 src="">
            <a class="nav-text" onclick="" th:href="@{/customer/dashboard/book-service}">Book Service</a>
        </div>

        <div class="nav-item">
            <img alt="Track Orders" class="nav-icon" th:src="@{/img/customer/dashboard/icon/sidebar/trackOrders.png}"
                 src="">
            <a class="nav-text" href="#">Track Orders</a>
        </div>

        <div class="nav-item">
            <img alt="Manage Pets" class="nav-icon" th:src="@{/img/customer/dashboard/icon/sidebar/managePets.png}"
                 src="">
            <a class="nav-text" href="#">Manage Pets</a>
        </div>
    </div>

    <div class="side-ad">
        <a href="#"><img th:src="@{/img/customer/dashboard/ad/ad.jpg}" alt="" src=""></a>
    </div>

    <div class="other">
        <div class="other-item">
            <img alt="Account" class="other-icon" th:src="@{/img/customer/dashboard/icon/sidebar/account.png}" src="">
            <a class="other-text" href="#">Account</a>
        </div>

        <div class="other-item">
            <img alt="Setting" class="other-icon" th:src="@{/img/customer/dashboard/icon/sidebar/setting.png}" src="">
            <a class="other-text" href="#">Setting</a>
        </div>
    </div>
</div>

<div class="header-container">
    <div class="header-left">
        <!--Add Action to Search-->
        <form class="searchbar-container" method="post" th:action="@{#}">
            <label for="searchType"></label>
            <select class="searchType" id="searchType" name="searchType">
                <option value="All">All</option>
                <option value="Service">Service</option>
                <option value="Groomer">Groomer</option>
            </select>

            <div class="searchInput">
                <label th:for="search-input">
                    <input class="searchInput-2" id="search-input" name="searchInput" type="text">
                </label>
                <img alt="?" class="search-icon" th:src="@{/img/customer/dashboard/icon/searchbar/search.png}" src="">
            </div>


            <button class="searchSubmit" type="submit">Search</button>
        </form>
    </div>

    <div class="header-right">
        <div class="userIcon">
            <a href="#"><img alt="User Photo" th:src="@{${userPhoto}}" src=""></a>
        </div>
    </div>
</div>


<div class="main-container" id="main-content">
    <form th:action="@{/customer/dashboard/book-service/submit}" method="get">
        <!--Choose Pet 1st-->
        <div id="select-pets">
            <div id="selected-pet">

            </div>
            <label for="pet">Select Pet</label>
            <select id="pet" name="pet" onchange="selectPet();getDates()">
                <option value="">Select A Pet</option>
                <option th:each="pet : ${petList}"
                        th:text="${pet.name}"
                        th:value="${pet.petTypeId}"
                        th:iconURL="${pet.iconURL}"
                        th:sex="${pet.sex}">
                </option>
            </select>
        </div>

        <script>
            function selectPet() {
                const petSelector = document.getElementById("pet");
                document.getElementById('selected-pet').innerHTML = 'Sex：' + petSelector.options[petSelector.selectedIndex].getAttribute('sex');
            }
        </script>

        <script>
            function getDates() {
                const petTypeId = document.getElementById("pet").value;

                if (petTypeId !== "") {
                    document.getElementById("date").disabled = false;
                }
            }
        </script>

        <div id="appointmentTime">
            <div id="dates" onchange="getTimes()">
                <label for='date'>Select Date</label>
                <select id="date" name="date" disabled>
                    <option th:each="date:${dates}" th:value="${date}" th:text="${date}"></option>
                </select>
            </div>

            <div id="times" class="times" onchange="getAppointment()">
                <label for="time">Select Time</label>
                <input type="time" id="time" disabled>
            </div>
        </div>

        <script>
            function getTimes() {
                const petTypeId = document.getElementById("pet").value;
                const date = document.getElementById("date").value;
                console.log(date);

                if (petTypeId !== "" && date !== "") {
                    document.getElementById("time").disabled = false;
                }
            }
        </script>

        <div id="appointments" class="appointments">
            <div id="appointment" class="appointment">
                <label for="service">Select Service</label>
                <select id="service" name="service" onchange="showServiceDetail()">
                    <option th:each="service:${servicesList}" th:text="${service.name}"
                            th:value="${service.serviceId}"></option>
                </select>

                <label for="groomer">Select Groomer</label>
                <select id="groomer" name="groomer">
                    <option th:each="groomer:${groomersList}" th:text="${groomer.name}"
                            th:value="${groomer.groomerId}"></option>
                </select>
            </div>
            <button id="del-btn"></button>
        </div>
        <button id="add-btn" type="button" onclick="addAppointment()">Add-New-Services</button>
        <button id="submit" type="button" onclick="packageData()">submit</button>
    </form>
</div>

<script>
    function packageData() {
        const petTypeId = document.getElementById("pet").value;
        const date = document.getElementById("date").value;
        const time = document.getElementById("time").value;

        const services = document.getElementsByName("service");
        const groomers = document.getElementsByName("groomer");

        if (petTypeId !== "" && date !== "" && time !== "" && services !== null && groomers !== null) {
            const xhttp = new XMLHttpRequest();

            xhttp.open("POST", "/customer/dashboard/book-service/submit?petTypeId=" + petTypeId + "&date=" + date + "&time=" + time + "&services=" + services + "&groomers=" + groomers, true);
            xhttp.send();
        }


    }


</script>


<script>
    function addAppointment() {
        // Clone the first form instance
        const clonedAppointment = document.getElementById("appointment").cloneNode(true);
        const deleteBtn = document.createElement("button");
        deleteBtn.textContent = "Delete";
        deleteBtn.type = "button";
        deleteBtn.addEventListener("click", function () {
            delAppointment(deleteBtn);
        });
        clonedAppointment.appendChild(deleteBtn);

        document.getElementById("appointments").appendChild(clonedAppointment);
    }

    function delAppointment(deleteBtn) {
        // Remove the form instance containing the clicked delete button
        deleteBtn.parentElement.remove();
    }
</script>


<script>
    function showServiceDetail() {
        const serviceSelector = document.getElementById("service");
        const selectedOption = serviceSelector.options[serviceSelector.selectedIndex];

        //document.getElementById('selected-service-icon').textContent = selectedOption.getAttribute('iconURL');
        document.getElementById('selected-service-name').textContent = selectedOption.getAttribute('text');
        document.getElementById('selected-service-price').textContent = selectedOption.getAttribute('basePrice');
    }
</script>


<script>
    function getAppointment() {
        const petTypeId = document.getElementById("pet").value;
        const date = document.getElementById("date").value;
        const time = document.getElementById("time").value;

        if (petTypeId !== "" && date !== "" && time !== "") {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("appointment").innerHTML = this.responseText;
                    document.getElementById("appointment").disabled = false;
                }
            };
            xhttp.open("GET", "/customer/dashboard/book-service/appointment?petTypeId=" + petTypeId + "&date=" + date + "&time=" + time, true);
            xhttp.send();
        }
    }
</script>
</body>

</html>