.slider-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.main-container {
    margin-top: 50px;
    padding: 20px;
    margin-left: 300px; /* 向右移动 300px */
    width: calc(100% - 320px); /* 总宽度减去左边距和右边距 */
}

.dashboard-tile p {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 10px; /* 往上移动 10px */
}
.dashboard-tile p span {
    margin-top: 10px;
    display: block;
    /*text-align: center;*/
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}
.dashboard-tiles-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
}
table {
    margin: 0 auto;
    text-align: center;
}

thead {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
.table-chart-container {
    display: flex;

    align-items: center;
    margin-top: 50px;
    padding: 20px;
    width: calc(100% - 320px);
    justify-content: center;
    align-items: center;
}

table {
    width: 40%;
    text-align: center;
}

.chart-container {
    width: 55%;
    margin-left: 20px;
}
.chart-container {
    width: 60%;
    float: right;
    margin-right: 20px; /* 加上一个右边距 */
}

.dashboard-tile {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    background-color: #f7f7f7;
    /*text-align: center;*/
}

input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Style the status text */
#slider-status {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

footer {
    margin-top: 50px; /* 往上移动 50px */
    padding: 20px;
    width: 100%;
}
