<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>
</head>

<body>
<h1>Add Pet</h1>
<form th:action="@{/customer/insert}" th:object="${pet}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"/><br/>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type"/><br/>

    <label for="sex">Sex:</label>
    <input type="text" id="sex" name="sex"/><br/>

    <label for="size">Size:</label>
    <input type="text" id="size" name="size"/><br/>

    <label for="age">Age:</label>
    <input type="text" id="age" name="age"/><br/>

    <label for="tips">Tips:</label>
    <input type="text" id="tips" name="tips"/><br/>

    <input type="submit" value="Add Pet"/>
</form>
</body>
</html>