<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <link rel="stylesheet" th:href="@{/css/customer/base.css}">
  <link rel="stylesheet" th:href="@{/css/customer/editProfile.css}">
</head>
<body>
<div th:replace="fragments/customersidebar :: customersidebar"></div>
<div th:replace="fragments/customersidebar :: customerheader"></div>
<div class="main-container" id="main-content">
<h1>Edit Profile</h1>

<form th:action="@{/customer/{userId}/updateProfile(userId=${user.userId})}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{userId}" required/>

  <label for="nickname">Nickname:</label>
  <input type="text" id="nickname" th:field="*{nickname}" required/>
  <br/>

  <label for="phone">Phone:</label>
  <input type="text" id="phone" th:field="*{phone}" required/>
  <br/>

  <label for="gender">Gender:</label>
  <input type="text" id="gender" th:field="*{gender}" required/>
  <br/>

  <label for="email">Email:</label>
  <input type="text" id="email" th:field="*{username}" required/>
  <br/>

  <button type="submit">Save Changes</button>
</form>
</div>
</body>
</html>
