<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Detail</title>
    <!-- 引入CSS和其他资源 -->
</head>
<body>
<h1>Order Detail</h1>
<table>
    <th></th>
    <td th:text="${statusFilter}"></td>
    <tr>
        <th>Order ID</th>
        <td th:text="${order.orderId}"></td>
    </tr>
    <tr>
        <th>Pet Info</th>
        <!--        <td th:text="${pet}"></td>-->
        <!--        <td th:text="${pet.petTypeId}"></td>-->
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.sex}"></td>
        <td th:text="${type}"></td>
        <td th:text="${type.sex}"></td>
        <!--        <td th:attr="iconURL=${type.iconURL}">< img th:src="${iconURL}" /></td>-->
        <td th:text="${pet.tips}"></td>
        <!--        <script>-->
        <!--            const petSelector = document.getElementById("petTypeId");-->
        <!--            if (petSelector) {-->
        <!--                const petType = petSelector.options[petSelector.selectedIndex].getAttribute("type");-->
        <!--                // Do something with petType-->
        <!--            }-->
        <!--        </script>-->
    </tr>
    <tr>
        <th th:class="UserInfo">User Info</th>
        <td th:text="${user.nickname}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <th>Appointment Details</th>
        <td>
            <table>
                <tr>
                    <th>Service Name</th>
                    <th>Service Price</th>
                    <th>Groomer Name</th>
                </tr>
                <tr th:each="appointment : ${appointmentDetails}">
                    <td th:text="${appointment.serviceName}"></td>
                    <td th:text="${appointment.servicePrice}"></td>
                    <td th:text="${appointment.groomerName}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>