<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order History</title>
    <link rel="stylesheet" type="text/css" href="../static/css/orderHistory.css" th:href="@{/css/orderHistory.css}">
    <link rel="stylesheet" th:href="@{/css/customer/base.css}">
</head>
<body>
<div th:replace="fragments/customersidebar :: customersidebar"></div>
<div th:replace="fragments/customersidebar :: customerheader"></div>
<div class="main-container" id="main-content">
<table>
    <tbody>
    <tr>
        <input type="hidden" id="user-id" th:value="${userID}">
        <div style="display: flex; justify-content: center;">
            <button type="button" id="order-history-all" >All</button>
            <button type="button" class="btn btn-primary" id="order-history-finished">Paid</button>
            <button type="button" class="btn btn-primary" id="order-history-unfinished">Unpaid</button>
        </div>
        <script>
            window.onload = function() {
                var allButton = document.getElementById('order-history-all');
                var finishedButton = document.getElementById('order-history-finished');
                var unfinishedButton = document.getElementById('order-history-unfinished');

                allButton.onclick = function() {
                    var userID = document.getElementById('user-id').value;
                    var url = '/customer/' + userID + '/orderHistory?pageNo=1&pageSize=6&statusFilter=all';
                    window.location.href = url;
                };

                finishedButton.onclick = function() {
                    var userID = document.getElementById('user-id').value;
                    var url = '/customer/' + userID + '/orderHistory?pageNo=1&pageSize=6&statusFilter=paid';
                    window.location.href = url;
                };

                unfinishedButton.onclick = function() {
                    var userID = document.getElementById('user-id').value;
                    var url = '/customer/' + userID + '/orderHistory?pageNo=1&pageSize=6&statusFilter=unpaid';
                    window.location.href = url;
                };
            };
        </script>
    </tr>
    </tbody>
</table>

<table th:id="orderHistoryTable">
    <thead>
    <tr>
        <th></th>
        <th>Project</th>
        <th>Groomer</th>
        <th>Appointment Time</th>
        <th>Status</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="orderHistoryTable" th:each="order : ${orderHistoryPage}">
        <td th:attr="iconURL=${order.photo}"><img th:class="img" th:src="${order.photo}" /></td>
        <td th:text="${order.servicesSummary}"></td>
        <td th:text="${order.groomerName}"></td>
        <td th:text="${order.createTime}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.price}"></td>
        <td>
            <!-- 修改的按钮 -->
            <a th:href="@{'/customer/' + ${userId} + '/orderHistory/' + ${order.orderId}}">
                <button type="button" id="seeDetails">See Details</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<th:block th:if="${totalPageNumber == 0}">
    <p th:id="noOrder">You have no order history.</p>
    <a th:href="@{/customer/dashboard/book-service}">
        <button type="button" id="BookNow">Book Now!</button>
    </a>
</th:block>
<th:block th:if="${currentPageNumber == 0}">
    <p th:id="noOrder">You have no order history.</p>
    <a th:href="@{/customer/dashboard/book-service}">
        <button type="button" id="BookNow1">Book Now!</button>
    </a>
</th:block>
<!-- 分页控件 -->
<th:block th:if="${totalPageNumber > 0}">
    <ul class="pagination">
        <li th:if="${currentPageNumber > 1}">
            <a th:href="@{'/customer/'+${userID}+'/orderHistory'(pageNo=${currentPageNumber - 1}, size=${totalPageNumber})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="page : ${#numbers.sequence(1, totalPageNumber)}" th:class="${pageNo == currentPageNumber ? 'active' : ''}">
            <a th:href="@{'/customer/'+${userID}+'/orderHistory' (pageNo=${page}, size=6, statusFilter=${statusFilter})}" th:text="${page}"></a>
        </li>
        <li th:if="${currentPageNumber < totalPageNumber}">
            <a th:href="@{'/customer/'+${userID}+'/orderHistory'(pageNo=${currentPageNumber + 1}, size=6, statusFilter=${statusFilter})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</th:block>
</div>
</body>
</html>
